{% load static %}
{% load permission_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sistema/estoque/css/estoque.css' %}">
    <title>Meu Estoque</title>
</head>
{% if user|has_role:'gerente' %}
<body>
    <div>
        <a href="{% url "criar_usuario" %}" >Criar Usuario</a>
    </div>
    <div>
        <table border="1">
            <caption>Produtos em estoque: {{ verprod|length }}</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Qntd</th>
                    <th>Valor</th>
                    <th>Data de entrada</th>
                    <th>Funções</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in verprod %}
                <tr>
                    <td>{{ produto.id_prod }}</td>
                    <td>{{ produto.nome_prod }}</td>
                    <td>{{ produto.qtnd_prod }}</td>
                    <td>{{ produto.vlr_prod }}</td>
                    <td>{{ produto.entrada_prod }}</td>
                    <td>
                        <a href="{% url 'editar_produto' produto.id_prod %}"><button id="update">Editar</button></a>    
                        <a href="{% url 'deletar_produto' produto.id_prod %}"><button id="deletar">Apagar</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'add_estoque' %}"><button id="up">Adicionar produto</button></a>
    
        <script>
            {% if add  %}
            alert('O produto foi atualizado!');
            {% endif %}
        </script>
        <script src="{% static 'sistema/estoque/js/estoque.js' %}"></script>        
    </div>
</body>
{% elif user|has_role:'tecnico' %}
<body>
    <div>
        <a href="{% url "estoque" %}" >Estoque</a>
    </div>
    <table border="1">
        <caption>Produtos em estoque: {{ verprod|length }}</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Qntd</th>
                <th>Valor</th>
                <th>Data de entrada</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in verprod %}
            <tr>
                <td>{{ produto.id_prod }}</td>
                <td>{{ produto.nome_prod }}</td>
                <td>{{ produto.qtnd_prod }}</td>
                <td>{{ produto.vlr_prod }}</td>
                <td>{{ produto.entrada_prod }}</td>
            {% endfor %}
        </tbody>
    </table>

    <script src="{% static 'sistema/estoque/js/estoque.js' %}"></script>
</body>
{% endif %}
