{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sistema/estoque/css/estoque.css' %}">
    <title>Meu Estoque</title>
</head>
<body>
    <table border="1">
        <caption>Estoque</caption>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Qtnd</th>
                <th>Data de entrada</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in verprod %}
            <tr>
                <td>{{ produto.nome_prod }}</td>
                <td>{{ produto.qtnd_prod }}</td>
                <td>{{ produto.entrada_prod }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    <div>
        <p>Produtos em estoque: {{ verprod|length }}</p>
    </div>
    

    <a href="{% url 'add_estoque' %}">Adicionar produto</a>
    <a href="{% url 'remov_estoque' %}">Remover produto</a>
    <a href="{% url 'mod_estoque' %}">Modificar produtos</a>

    <script src="{% static 'sistema/estoque/js/estoque.js' %}"></script>
</body>
</html>
