{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "sistema/estoque/css/estoque.css" %}">
    <title>Adicionar produto</title>
</head>
<body>
    <div>
        <h1>Adicione o produto!</h1>
    </div>
    <div>
        <form method = 'POST'>
            {% csrf_token %}
            <div>
                <label for="nome">Nome do produto: </label>
                <input type="text" name="nome" id="nome" placeholder = 'Ensira aqui!'required>
            </div>
            <div>
                <label for="valor">Valor do produto: </label>
                <input type="number" name="valor" id="valor" min="0" max="9999.99" step="0.01" placeholder="Insira aqui!" required>
            </div>            
            <div>
                <label for="qntd">Quantidade: </label>
                <input type="number" name="qntd" id="qntd" placeholder = 'Ensira aqui!' size = "18" required>
            </div>
            <div>
                <label for="data_entrada">Data de entrada: </label>
                <input type="date" name="data_entrada" id="data_entrada">
            </div>
            <div>
                <button type="submit">Adicionar</button>
            </div>
        </form>
        <a href="{% url 'estoque' %}"><button id="del">Desistir</button></a>
    </div>
<script>
    {% if nao_add %}
    alert('Esse produto já existe no estoque!!');
    {% elif add  %}
    alert('O produto foi adicionado!');
    {% endif %}
</script>

<script src="{% static "sistema/estoque/js/estoque.js" %}"></script>
</body>
</html>