{% load static %}
{% load permission_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sistema/criar_usuario/css/criar_usuario.css' %}">
    <title>Deletar Usuario</title>
</head>
<body>
    <div>
        <a href="{% url "estoque" %}" >Estoque</a>
        <a href="{% url "criar_usuario" %}" >Criar Usuario</a>
        <a href= "{% url "lista" %}">Lista de usuarios</button></a>
    </div>
    <div>
        <h1>Deletar Usuario: {{ usuario.username }}</h1>
    </div>
    <div>
        <p>Tem certeza de que deseja apagar esse usuario?</p>
    </div>
    <div>
        <form method = "POST">
            {% csrf_token %}
            <button type="submit">Sim, apagar</button>
        </form>        
    </div>
    <div>
        <a href="{% url 'estoque' %}"><button id="del">Desistir</button></a>
    </div>



    <script src="{% static 'sistema/criar_usuario/js/criar_usuario.js' %}"></script>
</body>
</html>